*:focus{
  outline: none;
}
.under-maintenance{
  font-size: 13px;
  color: red;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eeeeed;
  color: #1c1c1c;
}
.action-button{
  width: fit-content;
  height: 40px;
  background-color: #1c1c1c;
  border-radius: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px 0 25px;
  cursor: pointer;
}
.action-button:focus{
  outline: none;
}
.action-button:hover{
  background-color: white;
  color: #1c1c1c;
  border: 1px solid black;
}
.nav-top-button{
  margin-right: 40px;
}

.navigation-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: #1c1c1c;
  position: relative;
  
}
.navigation-wrapper ul{
  display: flex;
  font-weight: bold;
}
.navigation-wrapper ul .link{
  margin-right: 40px;
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  color: #1c1c1c;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navigation-wrapper .navbar-icon{
  margin-right: 6px;
}

.navigation-wrapper ul .link:hover{
  opacity: 70%;
}


.get-in-touch-link .contacts{
  width: 240px;
  background-color: #1c1c1c;
  color: #eeeeed;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  display: none;
}

.get-in-touch-link .contacts p{
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* margin-top: 10px; */
}
.navigation-wrapper ul .nav-icon{
  margin-right: 5px;
}

.get-in-touch-link .span-text:hover{
  opacity: 70%;
  cursor: pointer;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 10px;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 20px;
  display: none;
}


.menu-bar span{
  height: 3px;
  width: 25px;
  border-radius: 8px;
}

.menu-bar .line1{
  background-color: #1c1c1c;
  transition: 0.3s ease-in-out;
  /* border-radius: 8px; */
}
.menu-bar .line2{
  width: 18px;
  background-color: #1c1c1c;
  transition: 0.3s ease-in-out;
  /* border-radius: 8px; */
}

.scroll-down-wrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

}
.scroll-down-icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.7px solid #1c1c1c;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation:  movedownAnimation 2.5s linear infinite 2s;
  cursor: pointer;
}
.downArrow{
  animation:  upDownAnimation 0.7s ease-in-out infinite;
  
}
@keyframes upDownAnimation {
  25%{
      transform: translateY(8px);
  }
  100%{
      transform: translateY(0px);
  }
}


.footer-wrapper{
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.footer-quote{
  width: 50%;
  margin-top: 30px;
}
.footer-copyright{
  margin-top: 40px;
  font-weight: bold;
}

@media screen and (max-width: 890px) {
  .footer-quote{
    width: 80%;
  }
}
@media screen and (max-width: 680px) {
  .footer-quote{
    width: 95%;
  }
}

@media screen and (max-width: 890px) {
  .navigation-wrapper ul{
    flex-direction: column;
    position: absolute;
    justify-content: space-evenly;
    align-items: flex-start;
    left: 0px;
    top: 60px;
    background-color: #1c1c1c; 
    z-index: 100;
    font-size: 14px;
    font-weight: 400;
    width: 0px;
    height: 80vh;
    color: #eeeeed;
   
  }

  .navigation-wrapper ul .link{
    justify-content: flex-start;
    color: #eeeeed;
  }
  

  .navigation-wrapper .nav-dropdown{
    font-size: 20px;
    position: absolute;
    left: 150px;
    display: block;
  }
  .navigation-wrapper ul .nav-icon{
    margin-left: 40px;
  }
  

  .navigation-wrapper ul .link, .navigation-wrapper .get-in-touch-link{
    position: relative;
    /* background-color: rgb(255, 12, 12); */
    width: 150px;
    margin-left: 50px;
    display: none;
}

.navigation-wrapper .get-in-touch-link{
  justify-content: flex-start;
}

.navigation-wrapper .get-in-touch-link .span-text{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.menu-bar{
  display: flex;
  cursor: pointer;
}
.menu-bar span{
    height: 3px;
    width: 25px;
    border-radius: 8px;
}
 

.navigation-wrapper .link, .link-git{
    margin-left: 60px;
  }

  .nav-top-button{
    margin-right: 0;
  }


}

@media screen and (max-width: 500px) {
  .hero-section2 .github-icon{
    font-size: 60px;
  }
  .page-top-button{
    color: yellow;
  }
  .footer-quote{
    font-size: 13px;
  }
  .footer-copyright{
    font-size: 14px;
  }
  .footer-wrapper{
    min-height: 23vh;
  }
  .colaborate-btn{
    font-size: 13px;
    height: 32px;
  }
}

