.App {
  
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eeeeed;
  color: #1c1c1c;
}
.action-button{
  width: fit-content;
  height: 40px;
  background-color: #1c1c1c;
  border-radius: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px 0 25px;
  cursor: pointer;
}
.action-button:hover{
  background-color: white;
  color: #1c1c1c;
  border: 1px solid black;
}

.navigation-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: #1c1c1c;
  
}
.navigation-wrapper ul{
  display: flex;
  font-weight: bold;
}
.navigation-wrapper ul .link{
  margin-right: 40px;
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  color: #1c1c1c;
}
.navigation-wrapper ul .link:hover{
  opacity: 70%;
}

.get-in-touch-link .contacts{
  width: 240px;
  background-color: #1c1c1c;
  color: #eeeeed;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  display: none;
}
.get-in-touch-link .contacts p{
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* margin-top: 10px; */
}
.nav-icon{
  margin-right: 5px;
}

.get-in-touch-link .span-text:hover{
  opacity: 70%;
  cursor: pointer;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 10px;
}
.menu-bar .line, .line2{
  margin-top: 5px;
  border-radius: 6px;
  
}

.menu-bar .line1{
  height: 1.8px;
  width: 25px;
  background-color: #1c1c1c;
}
.menu-bar .line2{
  height: 1.8px;
  width: 20px;
  background-color: #1c1c1c;
}



.scroll-down-wrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

}
.scroll-down-icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.7px solid #1c1c1c;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation:  movedownAnimation 2.5s linear infinite 2s;
  cursor: pointer;
}
.downArrow{
  animation:  upDownAnimation 0.7s ease-in-out infinite;
  
}
@keyframes upDownAnimation {
  25%{
      transform: translateY(8px);
  }
  100%{
      transform: translateY(0px);
  }
}


.footer-wrapper{
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.footer-quote{
  width: 50%;
  margin-top: 30px;
}
.footer-copyright{
  margin-top: 40px;
  font-weight: bold;
}

@media screen and (max-width: 890px) {
  .footer-quote{
    width: 80%;
  }
}
@media screen and (max-width: 680px) {
  .footer-quote{
    width: 95%;
  }
}

@media screen and (max-width: 750px) {
  .navigation-wrapper ul{
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .page-top-button{
    color: yellow;
  }
  .footer-quote{
    font-size: 13px;
  }
  .footer-copyright{
    font-size: 14px;
  }
  .colaborate-btn{
    font-size: 13px;
  }
}

